
/* Sentrering av innhold */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  /* Søkefelt */
  .search-container {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Keyboard-ikon */
  .keyboard-icon {
    margin-right: 10px;
  }
  
  /* Input-felt */
  .search-input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
  }
  
  .input-label {
    margin-right: 10px;
    color: #777;
  }
  
  .pager {
    display: flex;
    align-items: center;
    margin-left: 10px;
    color: #777;
  }
  